@import 'colors';

.sidebar-option {
  display: flex;
  align-items: center;
  cursor: pointer;
  & > .MuiSvgIcon-root {
    padding: 20px;
  }
  h2 {
    font-weight: 800;
    font-size: 20px;
    margin-right: 20px;
  }
  &:hover {
    background-color: #e8f5fe;
    border-radius: 30px;
    color: $twitter-color;
    transition: color 0.1s ease-out;
  }
  &-active {
    color: $twitter-color;
  }
}
